<% provide(:title, "All Users") %>
  <h1>ユーザー一覧</h1>
  

<div class="pull-left">
  <%=  form_with model: @user do |f| %>
    <%= f.file_field :upload_file, class: "filearea" %> <!-- csvのみインポート可にする -->
    <%= f.submit "CSVをインポート", class: "btn btn-primary btn-block btn-basic-info" %>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <p>Examples</p>

  
  <%= link_to "削除", @user ,class: "btn btn-primary", method: :delete,  data: { confirm: "削除してよろしいですか？" } %>
  <br><%= link_to "編集", @user ,class: "btn btn-primary", method: :delete,  data: { confirm: "削除してよろしいですか？" } %></br>
</div>  

<!-- form_with url: users_path, method: :get, local: true -->

  