<% provide(:title, "All Users") %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <div class="search-form">
    <%= form_with url: search_user_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
<div class="user-list">
  <% @users.each do |user| %>
    <%= user.title %>
  <% end %>
</div>
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, user %>
          <%= link_to " | 削除", user, method: :delete, data: { confirm: "削除してよろしいですか？" } %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>
